<?php
foreach(@array(
	$CFG["URL"]["base"],
	$CFG["URL"]["ext"],
	$CFG["GENERAL"]["app_name"],
	$form_name,
	$form_action_link,
	$_PAGE["header"],

) as $k=>$var) if ( ! isset($var)) die("Code: ".basename(__FILE__)."-init-".($k+1));
?>
<article class="app_content container">
	<div class="row">
		<div class="col-md-12 span12">
			<h1><?=unescape_template_data($_PAGE["header"]);?></h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 span6 offset3">
			%%form_errors%%
			
			<form class="form-horizontal" action="<?=$form_action_link;?>" method="post" enctype="multipart/form-data">
				
				%%form_generate%%
				
				<div class="pull-right">
					<input class="btn btn-success" type="submit" value="OK">
					<?php if (!empty($_SERVER["HTTP_REFERER"])):?>
						<a class="btn btn-default" href="<?=$_SERVER["HTTP_REFERER"];?>">Отменить</a>
					<?php endif;?>
				</div>
			</form>
		</div>
	</div> <!-- /.row -->
</article>

<?php if(file_exists("assets/app/".$form_name.".js")):?>
	<script src="assets/app/<?=$form_name;?>.js"></script>
<?php endif;?>

<?php
	unset($_SESSION["msg"]);
?>