<?php
foreach(@array(
	$CFG["URL"]["base"],
	$CFG["URL"]["ext"],
	$CFG["GENERAL"]["app_name"],
	$items,
	$fields,
	$item_name,
) as $k=>$var) if ( ! isset($var)) die("Code: ".basename(__FILE__)."-init-".($k+1));

?>
<article class="app_content">
	<div class="page-header">
		<h1><?=$_PAGE["header"];?></h1>
	</div>
	
	<div class="row">
		<div class="form-actions">
			<div class="pull-right">
				<a href="form/add/<?=$item_name;?><?=$CFG["URL"]["ext"];?>" class="btn btn-success"><i class="icon icon-plus icon-white"></i> Добавить</a>
			</div>
		</div>
	</div>
	
	<?php if(empty($items)):?>
		<div class="alert alert-warning">
			Нет данных.
		</div>
	<?php else:?>
			
		<div class="row-fluid">
			<div class="span12">
				<table class="table table-bordered table-striped sortable">
					<thead>
						<tr>
							<?php foreach($fields as $field):?>
								<?php if (!empty($field["acl"]) && ! userHasRight($field["acl"]) ) continue;?>
								<th data-field_name="<?=$field["name"];?>" style="vertical-align:top;text-align:center"><?= ! empty($field["label"]) ? $field["label"] : $field["name"];?></th>
							<?php endforeach;?>
							<th style="vertical-align:top;text-align:center" data-sort="false">Операции</th>
						</tr>
					</thead>
					<tbody>
					<?php foreach ($items as $item):?>
						<?php if ($item["isDeleted"]) continue;?>
						<tr>
							<?php foreach($fields as $field):?>
								<?php if (!empty($field["acl"]) && ! userHasRight($field["acl"]) ) continue;?>
								<?php
									if ( isset($field["form_values"]) && ($field["form_values"] == "tsv") ){
										$field["_form_values"] = form_get_field_values($field);
									};
								?>
								<td>
									<?php if ( ! isset($item[$field["name"]]) ):?>
										<div class="alert alert-danger" title="Сделай миграцию базы данных!">Не актуальная структура БД!</div>
										</td>
										<?php continue;?>
									<?php endif;?>
									
									<?php if (file_exists(cfg_get_filename("templates", "data_list_".$item_name."_".$field["name"].".htm"))):?>
										<?php include cfg_get_filename("templates", "data_list_".$item_name."_".$field["name"].".htm");?>
										
									<?php elseif ($field["type"] == "password"):?>
										<?php if(!empty($item[ $field["name"] ])):?>
											Ok
										<?php else:?>
											<span class="label label-danger">NO!<span>
										<?php endif;?>
									<?php elseif ($field["type"] == "list"):?>
										<?php if(!empty($item[ $field["name"] ])):?>
											<ul>
												<?php foreach(isset($item["_".$field["name"]]) ? $item["_" . $field["name"] ] : $item[ $field["name"] ] as $v):?>
													<li><?=$v;?></li>
												<?php endforeach;?>
											</ul>
										<?php endif;?>
									<?php elseif ($field["type"] == "timestamp"):?>
										<?=show_date($item[ $field["name"] ], SHOW_DATE_TIME_DIFF | SHOW_DATE_AGO);?>
									<?php elseif ($field["type"] == "date"):?>
										<?=glog_rusdate($item[ $field["name"] ]);?>
									<?php elseif($field["type"] == "file"):?>
										<?php if (!empty($item[ $field["name"] ])):?>
											<?php if(in_array( strtolower(substr($item[ $field["name"] ], -4)), array(".png", ".gif", ".jpg") )):?>
												<div style='width:64px'>
													<img class="img-responsive" src="<?=$item[ $field["name"] ];?>">
												</div>
											<?php else:?>
												<a href="<?=$item[ $field["name"] ];?>" target="_blank">link</a>
											<?php endif;?>
										<?php endif;?>
									<?php else:?>
										<?php if (isset($item["_".$field["name"]])):?>
											<?=$item["_".$field["name"]];?>
										<?php elseif(is_string($item[ $field["name"] ])):?>
											<?=glog_str_limit( $item[ $field["name"] ], 140);?>
										<?php else:?>
											<?=json_encode_array($item[ $field["name"] ]);?>
										<?php endif;?>

									<?php endif;?>
								</td>
							<?php endforeach;?>
							<td>
								<?php if (file_exists(cfg_get_filename("templates", "data_list_".$item_name.".actions.htm"))):?>
									<?php include cfg_get_filename("templates", "data_list_".$item_name.".actions.htm");?>
								<?php elseif (userHasRight("manager")):?>
									<a href="form/edit/<?=$item_name;?>/<?=$item["id"].$CFG["URL"]["ext"];?>" class="btn btn-small"><i class="icon-edit"></i>Ред.</a>
									<a href="form/delete/<?=$item_name;?>/<?=$item["id"].$CFG["URL"]["ext"];?>" class="btn btn-small btn-danger">&times;</a>
								<?php else:?>
									&nbsp;
								<?php endif;?>
							</td>
						</tr>
					<?php endforeach;?>
					</tbody>
				</table>
			</div>
		</div>
	<?php endif;?>
</article> <!-- /.app_content -->
<script>
$(function(){
	table_sorter( 'table.sortable' );
});
</script>
<?php
	unset($_SESSION["msg"]);
	unset($_SESSION["to"]);
?>