<?php
foreach(@array(
	$CFG["URL"]["base"],
	$CFG["URL"]["ext"],
	$CFG["GENERAL"]["app_name"],
	$model_name,
	
) as $k=>$var) if ( ! isset($var)) die("Code: ".basename(__FILE__)."-init-".($k+1));

?>
<?php
	$dldta_add = form_get_fields(db_get_db_table($model_name), "add_".$model_name) && userHasRight("manager");
	$dldta_import = form_get_fields(db_get_db_table($model_name), "import_"._plural($model_name))  && userHasRight("manager");
?>

<?php if ($dldta_add || $dldta_import):?>
	<div class="row">
		<div class="form-actions">

			<div class="pull-right">
				<?php if($dldta_import):?>
					<a href="form/import/<?=_plural($model_name);?><?=$CFG["URL"]["ext"];?>" class="btn">Импорт</a>
				<?php endif;?>
				<?php if($dldta_add):?>
					<a href="form/add/<?=$model_name;?><?=$CFG["URL"]["ext"];?>" class="btn btn-success"><i class="icon icon-plus icon-white"></i> Добавить</a>
				<?php endif;?>
			</div>

			<?php if (!empty($months_nav)):?>
				<?php include cfg_get_filename("templates", "months_nav.block.htm");?>
			<?php endif;?>
		</div>
	</div>
<?php endif;?>
