<?php
foreach(@array(
	$items,
	$fields,
	$repo_name,
) as $k=>$var) if ( ! isset($var)) die("Code: ".basename(__FILE__)."-init-".($k+1));

?>
<table class="table table-bordered table-striped sortable">
	<thead>
		<tr>
			<?php foreach($fields as $field):?>
				<?php if (!empty($field["acl"]) && ! userHasRight($field["acl"]) ) continue;?>
				<th data-field_name="<?=$field["name"];?>" style="vertical-align:top;text-align:center"><?= ! empty($field["label"]) ? $field["label"] : $field["name"];?></th>
			<?php endforeach;?>
			<th style="vertical-align:top;text-align:center" data-sort="false">Операции</th>
		</tr>
	</thead>
	<tbody>
	
	<?php if(!empty($items)) foreach ($items as $item):?>
		<?php if ($item["deleted"]) continue;?>
		<tr>
			<?php foreach($fields as $field):?>
				<?php if (!empty($field["acl"]) && ! userHasRight($field["acl"]) ) continue;?>
				<?php
					if ( isset($field["form_values"]) && ($field["form_values"] == "tsv") ){
						$field["_form_values"] = form_get_field_values($field);
					};
				?>
				<td>
					<?php if ( DEV_MODE && is_array($item) && !array_key_exists($field["name"], $item) ):?>
						<div class="alert alert-danger" title="Сделай миграцию базы данных!">Не актуальная структура БД!</div>
						</td>
						<?php continue;?>
					<?php endif;?>
					
					<?php include cfg_get_filename("templates", "data_cell.htm");?>
					
				</td>
			<?php endforeach;?>
			<td>
				<?php if (file_exists(cfg_get_filename("templates", "data_list.".$repo_name.".actions.htm"))):?>
					<?php include cfg_get_filename("templates", "data_list.".$repo_name.".actions.htm");?>
				<?php else :?>
					<?php include cfg_get_filename("templates", "data_list.default.actions.htm");?>
				<?php endif;?>
			</td>
		</tr>
	<?php endforeach;?>
	</tbody>
</table>