<?php
foreach(@array(
	$model_name,
	$item,
) as $k=>$var) if ( ! isset($var)) die("Code: ".basename(__FILE__)."-init-".($k+1));

$actions = db_get_meta($repo_name, "actions");
if ($actions){
	$actions = array_map("trim", explode(",", $actions));
} else{
	$actions = array();
}

$rights = db_get_meta($repo_name, "acl");
if (!$rights){
  $rights="access,manager|owner";
};

?>
<?php if (userHasRight($rights, "", $item)):?>
	<?php if (!empty($_PAGE["templates"]["item"]) || in_array("show", $actions)):?>
		<a href="<?=db_get_meta($repo_name, "model_uri_prefix");?><?=$repo_name;?>/<?=$item["id"].$CFG["URL"]["ext"];?>" class="btn btn-small">Посмотреть</a>
	<?php endif;?>

	<?php if (!$actions || in_array("edit", $actions)):?>
		<a href="form/edit/<?=$model_name;?>/<?=$item["id"].$CFG["URL"]["ext"];?>" class="btn btn-small"><i class="icon-edit"></i>Ред.</a>
	<?php endif;?>
	<?php if (!$actions || in_array("delete", $actions)):?>
		<a href="form/delete/<?=$model_name;?>/<?=$item["id"].$CFG["URL"]["ext"];?>" class="btn btn-small btn-danger">&times;</a>
	<?php endif;?>
<?php else:?>
	&nbsp;
<?php endif;?>
