<?php
foreach(@array(
	$CFG["URL"]["base"],
	$CFG["URL"]["ext"],
	$CFG["GENERAL"]["app_name"],
	$items,
	$fields,
	$model_name,
	$form_name,
) as $k=>$var) if ( ! isset($var)) die("Code: ".basename(__FILE__)."-init-".($k+1));

?>
<article class="app_content">
	<div class="page-header">
		<h1><?=$_PAGE["header"];?></h1>
	</div>
	
	<?php if(file_exists(cfg_get_filename("templates", "data_list.".$repo_name.".top_actions.htm"))):?>
		<?php include cfg_get_filename("templates", "data_list.".$repo_name.".top_actions.htm");?>
	<?php else:?>
		%%data_list.default.top_actions%%
	<?php endif;?>
	
	<?php if(empty($items)):?>
		<div class="alert alert-warning">
			Нет данных.
		</div>
	<?php else:?>
			
		<div class="row-fluid">
			<div class="span12">
				
				<?php include cfg_get_filename("templates", "data_list.default.table.htm");?>
				
			</div>
		</div>
	<?php endif;?>
</article> <!-- /.app_content -->
<script>
$(function(){
	table_sorter( 'table.sortable' );
});
</script>
<?php if (file_exists("assets/app/" . $form_name . ".js")):?>
	<script src="assets/app/<?=$form_name;?>.js"></script>
<?php endif;?>
<?php
	unset($_SESSION["msg"]);
	unset($_SESSION["to"]);
?>