<?php
foreach(@array(
	$items,
	$fields,
	$model,
) as $k=>$var) if ( ! isset($var)) die("Code: ".basename(__FILE__)."-init-".($k+1));

?>
<table class="table table-bordered table-striped sortable">
	<thead>
		<tr>
			<?php foreach($fields as $field):?>
				<?php if (!empty($field["acl"]) && ! userHasRight($field["acl"]) ) continue;?>
				<th data-field_name="<?=$field["name"];?>" style="vertical-align:top;text-align:center"><?= ! empty($field["label"]) ? $field["label"] : $field["name"];?></th>
			<?php endforeach;?>
			<th style="vertical-align:top;text-align:center" data-sort="false">Операции</th>
		</tr>
	</thead>
	<tbody>
	
	<?php if(!empty($items)) foreach ($items as $item):?>
		<?php if ($item["deleted"]) continue;?>
		<tr>
			<?php foreach($fields as $field):?>
				<?php if (!empty($field["acl"]) && ! userHasRight($field["acl"]) ) continue;?>
				<?php
					if ( isset($field["form_values"]) && ($field["form_values"] == "tsv") ){
						$field["_form_values"] = form_get_field_values($field);
					};
				?>
				<td>
					<?php if ( DEV_MODE &&! isset($item[$field["name"]]) ):?>
						<div class="alert alert-danger" title="Сделай миграцию базы данных!">Не актуальная структура БД!</div>
						</td>
						<?php continue;?>
					<?php endif;?>
					
					<?php if (file_exists(cfg_get_filename("templates", "data_list.".$model."field_name_".$field["name"].".htm"))):?>
						<?php include cfg_get_filename("templates", "data_list.".$model."field_name_".$field["name"].".htm");?>
					<?php elseif (file_exists(cfg_get_filename("templates", "data_list.".$model."field_type_".$field["type"].".htm"))):?>
						<?php include cfg_get_filename("templates", "data_list.".$model."field_type_".$field["type"].".htm");?>
					<?php elseif (file_exists(cfg_get_filename("templates", "data_list.default.field_name_".$field["name"].".htm"))):?>
						<?php include cfg_get_filename("templates", "data_list.default.field_name_".$field["name"].".htm");?>
					
					<?php elseif (file_exists(cfg_get_filename("templates", "data_list.default.field_type_".$field["type"].".htm"))):?>
						<?php include cfg_get_filename("templates", "data_list.default.field_type_".$field["type"].".htm");?>
						
					<?php elseif ($field["type"] == "password"):?>
						<?php if(!empty($item[ $field["name"] ])):?>
							Ok
						<?php else:?>
							<span class="label label-danger">NO!<span>
						<?php endif;?>
					<?php elseif ($field["type"] == "timestamp"):?>
						<?=show_date($item[ $field["name"] ], SHOW_DATE_TIME_DIFF | SHOW_DATE_AGO);?>
					<?php elseif ($field["type"] == "date"):?>
						<?=($item[$field["name"]]  ? glog_rusdate($item[$field["name"]]) : "");?>
					<?php elseif($field["type"] == "file"):?>
						<?php if (!empty($item[ $field["name"] ])):?>
							<?php if(in_array( strtolower(substr($item[ $field["name"] ], -4)), array(".png", ".gif", ".jpg") )):?>
								<div style='width:64px'>
									<img class="img-responsive" src="<?=$item[ $field["name"] ];?>">
								</div>
							<?php else:?>
								<a href="<?=$item[ $field["name"] ];?>" target="_blank">link</a>
							<?php endif;?>
						<?php endif;?>
					<?php else:?>
						<?php if (isset($item["_".$field["name"]])):?>
							<?=$item["_".$field["name"]];?>
						<?php elseif(is_string($item[ $field["name"] ])):?>
							<?=glog_str_limit( $item[ $field["name"] ], 140);?>
						<?php else:?>
							<?=json_encode_array($item[ $field["name"] ]);?>
						<?php endif;?>

					<?php endif;?>
				</td>
			<?php endforeach;?>
			<td>
				<?php if (file_exists(cfg_get_filename("templates", "data_list.".$model.".actions.htm"))):?>
					<?php include cfg_get_filename("templates", "data_list.".$model.".actions.htm");?>
				<?php else :?>
					<?php include cfg_get_filename("templates", "data_list.default.actions.htm");?>
				<?php endif;?>
			</td>
		</tr>
	<?php endforeach;?>
	</tbody>
</table>