<?php
foreach(@array(
	$CFG["URL"]["base"],
	$CFG["URL"]["ext"],
	$CFG["GENERAL"]["app_name"],
	$items,
	$fields,
	$item_name,
) as $k=>$var) if ( ! isset($var)) die("Code: ".basename(__FILE__)."-init-".($k+1));

?>
<article class="app_content">
	<div class="page-header">
		<h1><?$_PAGE["header"];?></h1>
	</div>
	
	<div class="row">
		<div class="form-actions">
			<div class="pull-right">
				<a href="form/add/<?=$item_name;?><?=$CFG["URL"]["ext"];?>" class="btn btn-success"><i class="icon icon-plus icon-white"></i> Добавить</a>
			</div>
		</div>
	</div>
	
	<?if(empty($items)):?>
		<div class="alert alert-warning">
			Нет данных.
		</div>
	<?else:?>
			
		<div class="row">
			<div class="span12">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<?foreach($fields as $field):?>
								<th title="<?=$field["name"];?>" style="vertical-align:top;text-align:center"><?= ! empty($field["label"]) ? $field["label"] : $field["name"];?></th>
							<?endforeach;?>
							<th style="vertical-align:top;text-align:center">Операции</th>
						</tr>
					</thead>
					<tbody>
					<?foreach ($items as $item):?>
						<?if ($item["isDeleted"]) continue;?>
						<tr>
							<?foreach($fields as $field):?>
								<td>
									<?if ($field["type"] == "password"):?>
										<?if(!empty($item[ $field["name"] ])):?>
											Ok
										<?else:?>
											<span class="label ;abel-danger">NO!<span>
										<?endif;?>
									<?elseif ($field["type"] == "list"):?>
										<?if(!empty($item[ $field["name"] ])):?>
											<ul>
												<?foreach($item[ $field["name"] ] as $v):?>
													<li><?=$v;?></li>
												<?endforeach;?>
											</ul>
										<?endif;?>
									<?elseif ($field["type"] == "timestamp"):?>
										<?=show_date($item[ $field["name"] ], SHOW_DATE_TIME_DIFF | SHOW_DATE_AGO);?>
									<?elseif ($field["type"] == "date"):?>
										<?=glog_rusdate($item[ $field["name"] ]);?>
									<?elseif($field["type"] == "file"):?>
										<?if (!empty($item[ $field["name"] ])):?>
											<?if(in_array( strtolower(substr($item[ $field["name"] ], -4)), array(".png", ".gif", ".jpg") )):?>
												<div style='width:64px'>
													<img class="img-responsive" src="<?=$item[ $field["name"] ];?>">
												</div>
											<?else:?>
												<a href="<?=$item[ $field["name"] ];?>" target="_blank">link</a>
											<?endif;?>
										<?endif;?>
									<?else:?>
										<?=glog_str_limit( $item[ $field["name"] ], 140);?>
									<?endif;?>
								</td>
							<?endforeach;?>
							<td>
								<?if (userHasRight("manager")):?>
									<a href="form/edit/<?=$item_name;?>/<?=$item["id"].$CFG["URL"]["ext"];?>" class="btn btn-small"><i class="icon-edit"></i>Ред.</a>
									<a href="form/delete/<?=$item_name;?>/<?=$item["id"].$CFG["URL"]["ext"];?>" class="btn btn-small btn-danger">&times;</a>
								<?else:?>
									&nbsp;
								<?endif;?>
							</td>
						</tr>
					<?endforeach;?>
					</tbody>
				</table>
			</div>
		</div>
	<?endif;?>
</article> <!-- /.app_content -->
<?php
	unset($_SESSION["msg"]);
	unset($_SESSION["to"]);
?>