<?php
	if ( ! isset(
		$fields_form
	) ){
		die("Code: ".basename(__FILE__)."-init");
	}
?>
<?php foreach($fields_form as $field):?>
	<?php if ( $field["type"] == "list"):?>
		<?php foreach((array)$field["value_from"] as $value):?>
			<input type="hidden" name="<?=$field["name_from"];?>" value='<?=$value;?>'>
		<?php endforeach;?>
	<?php else:?>
		<input type="hidden" name="<?=$field["name_from"];?>" value='<?=$field["value_from"];?>'>
	<?php endif;?>
	
	<?php if ($field["template"] != "hidden"):?>
		<div class="control-group">
			<label class="control-label" <?php if (!empty($field["id"])):?>for="<?=$field["id"];?>"<?php endif;?>>
					<?=$field["label"];?>
					<?php if ($field["required"]):?> <span class="text-error" style="color:red"><b>*</b></span><?php endif;?>
			</label>
			<div class="controls">

				<?php include $field["template_file"];?>

			</div>
		</div>
	<?php else:?>
		<?php include $field["template_file"];?>
	<?php endif;?>
	
<?php endforeach;?>
