<?php
foreach(@array(
	$nav,
	$controls,

) as $k=>$var) if ( ! isset($var)) die("Code: ".basename(__FILE__)."-init-".($k+1));
?>


	
<div class="form-actions">
	
		<div class="row-fluid">
			<div class="span1">
				<?php if ($nav["prev"]):?>
					<a href="<?=$nav["prev"]["uri"];?><?=$CFG["URL"]["ext"];?>" class="btn btn-large"><i class="icon icon-backward"></i></a>
				<?php endif;?>
			</div>
			<div class="span10" style="text-align:center">
					
					<?php if(!empty($controls[128])):?>
						<form action method="get" style="display:inline-block">
							<input type="hidden" name="action" value="<?=$controls[128]["action"];?>">
							<button type="submit" class="btn <?php if(count($controls)<=3):?>btn-large<?php endif;?>"><i class="icon icon-ok"></i> <?=$controls[128]["action_caption"];?></button>
						</form>
					<?php endif;?>
					
					<?php foreach($controls as $state):?>
						<?php if (in_array($state["value"], array(0,32,128))) continue;?>
						<form action method="get" style="display:inline-block">
							<input type="hidden" name="action" value="<?=$state["action"];?>">
							<button type="submit" class="btn <?php if(count($controls)<=3):?>btn-large<?php endif;?>"> <?=$state["action_caption"];?></button>
						</form>
					<?php endforeach;?>
					
					<?php if(!empty($controls[0])):?>
						<form action method="get" style="display:inline-block">
							<input type="hidden" name="action" value="<?=$controls[0]["action"];?>">
							<button type="submit" class="btn <?php if(count($controls)<=3):?>btn-large<?php endif;?>"> <?=$controls[0]["action_caption"];?></button>
						</form>
					<?php endif;?>
					<?php if(!empty($controls[32])):?>
						<form action method="get" style="display:inline-block">
							<input type="hidden" name="action" value="<?=$controls[32]["action"];?>">
							<button type="submit"class="btn <?php if(count($controls)<=3):?>btn-large<?php endif;?>"><i class="icon icon-trash"></i> <?=$controls[32]["action_caption"];?></button>
						</form>
					<?php endif;?>
			
			</div>
			<div class="span1">
				<?php if ($nav["next"]):?>
					<a href="<?=$nav["next"]["uri"];?><?=$CFG["URL"]["ext"];?>" class="btn btn-large"><i class="icon icon-forward"></i></a>
				<?php endif;?>
			</div>
		</div>
	</form>
</div>
