<?php
foreach(@array(
	$CFG["URL"]["base"],
	$CFG["URL"]["ext"],
	$CFG["GENERAL"]["app_name"],
	$model,
	$item,
	$moderation_needed,
	$moderation_forms,

) as $k=>$var) if ( ! isset($var)) die("Code: ".basename(__FILE__)."-init-".($k+1));
?>

<?php if($moderation_needed):?>
	<?php foreach($moderation_forms as $moderation_form_file):?>
		<?php if (file_exists(cfg_get_filename("templates", $moderation_form_file))):?>
			<?php include cfg_get_filename("templates", $moderation_form_file);?>
		<?php else:?>
			<div class="alert alert-danger"><b>Ошибка!</b> Требуется модерация!</div>
		<?php endif;?>
	<?php endforeach;?>
<?php endif;?>