<?php
foreach(@array(
	$nav,
	$controls,

) as $k=>$var) if ( ! isset($var)) die("Code: ".basename(__FILE__)."-init-".($k+1));
?>


	
<div class="form-actions controls">
	
		<div class="row-fluid">
			<div class="span1">
				<?php if ($nav["prev"]):?>
					<a href="<?=$nav["prev"]["uri"];?><?=$CFG["URL"]["ext"];?>" class="btn btn-large"><i class="icon icon-backward"></i></a>
				<?php endif;?>
			</div>
			<div class="span10" style="text-align:center">
					
					<?php if(!empty($controls["ok"])):?>
						<form class="form_ok" action method="get" style="display:inline-block">
							<input type="hidden" name="action" value="<?=$controls["ok"]["action"];?>">
							<button type="submit" class="btn <?php if(count($controls)<=3):?>btn-large<?php endif;?>"><i class="icon icon-ok"></i> <?=$controls["ok"]["action_caption"];?></button>
						</form>
					<?php endif;?>
					
					<?php foreach($controls as $control):?>
						<?php if (in_array($control["action"], array("cancel","delete","ok"))) continue;?>
						<form class="form_<?=$control["action"];?>" action method="get" style="display:inline-block">
							<input type="hidden" name="action" value="<?=$control["action"];?>">
							<button type="submit" class="btn <?php if(count($controls)<=3):?>btn-large<?php endif;?>">
								<?php if (!empty($control["action_icon"])):?>
									<i class="icon icon-<?=$control["action_icon"];?>"></i>
								<?php endif;?>
								<?=$control["action_caption"];?>
							</button>
						</form>
					<?php endforeach;?>
					
					<?php if(!empty($controls["cancel"])):?>
						<form class="form_cancel" action method="get" style="display:inline-block">
							<input type="hidden" name="action" value="<?=$controls["cancel"]["action"];?>">
							<button type="submit" class="btn <?php if(count($controls)<=3):?>btn-large<?php endif;?>"> <?=$controls["cancel"]["action_caption"];?></button>
						</form>
					<?php endif;?>
					<?php if(!empty($controls["delete"])):?>
						<form class="form_delete" action method="get" style="display:inline-block">
							<input type="hidden" name="action" value="<?=$controls["delete"]["action"];?>">
							<button type="submit"class="btn <?php if(count($controls)<=3):?>btn-large<?php endif;?>"><i class="icon icon-trash"></i> <?=$controls["delete"]["action_caption"];?></button>
						</form>
					<?php endif;?>
			
			</div>
			<div class="span1">
				<?php if ($nav["next"]):?>
					<a href="<?=$nav["next"]["uri"];?><?=$CFG["URL"]["ext"];?>" class="btn btn-large"><i class="icon icon-forward"></i></a>
				<?php endif;?>
			</div>
		</div>
	</form>
</div>
