<article class="app_content">
	<?php if(empty($items)):?>
		<div class="alert alert-warning">
			Нет данных.
		</div>
	<?php else:?>
		<?php foreach($items as $item):?>
			
			<?php if (file_exists(cfg_get_filename("templates", "item_details.".$repo_name.".header.htm"))):?>
				<?php include cfg_get_filename("templates", "item_details.".$repo_name.".header.htm");?>
			<?php else:?>
				<?php include cfg_get_filename("templates", "item_details.default.header.htm");?>
			<?php endif;?>

			<div class="row-fluid">
				<div class="span5">
					<?php if (file_exists(cfg_get_filename("templates", "item_details.".$repo_name.".primary_info.htm"))):?>
						<?php include cfg_get_filename("templates", "item_details.".$repo_name.".primary_info.htm");?>
					<?php else:?>
						<?php include cfg_get_filename("templates", "item_details.default.primary_info.htm");?>
					<?php endif;?>
				</div>
				<div class="span7">
					<?php if (file_exists(cfg_get_filename("templates", "item_details.".$repo_name.".secondary_info.htm"))):?>
						<?php include cfg_get_filename("templates", "item_details.".$repo_name.".secondary_info.htm");?>
					<?php else:?>
						<?php include cfg_get_filename("templates", "item_details.default.secondary_info.htm");?>
					<?php endif;?>
				</div>
			</div>
		<?php endforeach;?>
	<?php endif;?>
</article> <!-- /.app_content -->

<?php if (file_exists("assets/app/" . $form_name . ".js")):?>
	<script src="assets/app/<?=$form_name;?>.js"></script>
<?php endif;?>