<?php
foreach(@array(
	$CFG["URL"]["base"],
	$CFG["URL"]["ext"],
	$CFG["GENERAL"]["app_name"],
	$items,
	$fields,
	$form_name,
	$repo_name,
) as $k=>$var) if ( ! isset($var)) die("Code: ".basename(__FILE__)."-init-".($k+1));

?>

<?php if (file_exists( cfg_get_filename("templates", "item_details.".$repo_name.".layout.htm")) ):?>
	<?php include cfg_get_filename("templates", "item_details.".$repo_name.".layout.htm");?>
<?php else:?>
	<?php include cfg_get_filename("templates", "item_details.default.layout.htm");?>
<?php endif;?>

<?php
	unset($_SESSION["msg"]);
	unset($_SESSION["to"]);
?>