<?php
foreach(@array(
	$CFG["URL"]["ext"],
	$CFG["GENERAL"]["app_name"],
	$CFG["GENERAL"]["app_version"],
	$_PAGE["title"],
	$auth_type,
) as $k=>$var) if ( ! isset($var)) die("Code: ".basename(__FILE__)."-init-".($k+1));

?>

<?php if (!empty($CFG["VKONTAKTE"]["app_id"])) $VK_LOGIN = true; else $VK_LOGIN = false;?>
<?php if ($VK_LOGIN){
	assets("add","js-file", "//vk.com/js/api/openapi.js?142");
};
?>
%%vk_init%%

<style>
	#login-form{
		margin-top: 2em;
		margin-bottom: 5em;
	}
	#UserEmail, #loginButton {
		margin-bottom: 1.5em;
	}
	article {
		margin-bottom: 10em;
	}
</style>
<article class="app_content">
	<div class="row">
        <div id="login-form" class="span2 offset5">
            <form  method="post" action="<?=$CFG["URL"]["base"];?>login/<?=$auth_type;?><?=$CFG["URL"]["ext"];?>">
                <input name="login" type="text" required class="input span2" value="" id="UserEmail" placeholder="Логин" autofocus/>
                <input name="pass" type="password" required class="input span2" value="" id="pass" placeholder="Пароль"/>
                <input type="submit" class="btn btn-primary btn-large btn-block" id="loginButton" value="Войти" />
                <?php if (find_page("form/signup")["uri"] == "form/signup"):?>
                    <a href="form/signup<?=$CFG["URL"]["ext"];?>" class="btn btn-block">Регистрация</a>
                <?php endif;?>
            </form>
        </div>
    </div>

    <?php if ($VK_LOGIN):?>
        <div class="row">
            <div class="span2 offset5">
                <div id="vk_auth"></div>
                <script type="text/javascript">
                    VK.Widgets.Auth("vk_auth", {authUrl: 'login/vkontakte.html'});
                </script>
            </div>
        </div>
    <?php endif;?>

    <div class="row">
        <p class="text-center">
            Возникли вопросы?<br>
            <a href="mailto:info@optimit.ru">Обратитесь в службу поддержки</a>
        </p>
	</div> <!-- /.row -->
</article> <!-- /.app_content -->

<?php if ($auth_type == "http_basic"):?>
	<script>
		<?php  // http://www.peej.co.uk/articles/rich-user-experience.html ?>
		function getHTTPObject() {
			if (typeof XMLHttpRequest != 'undefined') {
				return new XMLHttpRequest();
			} try {
				return new ActiveXObject("Msxml2.XMLHTTP");
			} catch (e) {
				try {
					return new ActiveXObject("Microsoft.XMLHTTP");
				} catch (e) {}
			}
			return false;
		}

		<?php  // http://www.peej.co.uk/articles/http-auth-with-html-forms.html ?>
		function login() {
			var http = getHTTPObject();
			var username = document.getElementById("UserEmail").value;
			var pass = document.getElementById("pass").value;

			http.open("get", this.action, false, username, pass);
			http.send("");
			if (http.status == 200) {
				document.location = this.action;
			} else {
				alert("Неверный логин или пароль.");
			}
			return false;
		}
		$(function(){
			$("#login-form form").submit(login);
		})

	</script>
<?php endif;?>

<?php if (isset($import_first_user) && $import_first_user):?>
	<p>Первый запуск системы - нет пользователей.</p>
	<p>Для добавления первого пользователя введите логин и пароль и нажмите <a href="#" id="cmdImportFirstUser">здесь</a>.</p>
	<script>
		document.getElementById("cmdImportFirstUser").addEventListener("click", function(e){
			e.preventDefault();
			var username = document.getElementById("UserEmail").value;
			var pass = document.getElementById("pass").value;
			location.href = "adm_import_first_user/" + username + ":" + pass + ":access||manager||adm<?=$CFG["URL"]["ext"];?>";
		});
	</script>
<?php endif;?>

<?php
	unset($_SESSION["msg"]);
	unset($_SESSION["to"]);
?>
