<?php
foreach(@array(
	$CFG["URL"]["base"],
	$CFG["GENERAL"]["app_name"],
	$CFG["GENERAL"]["app_version"],
	$_PAGE["title"],
	$_PAGE["uri"],
) as $k=>$var) if ( ! isset($var)) die("Code: ".basename(__FILE__)."-init-".($k+1));

if (!isset($page_fluid)) $page_fluid = false;
?>
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title><?=$_PAGE["title"];?></title>
	<base href="<?=$CFG["URL"]["base"];?>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<style>
		.app_content {margin-top: 70px;}
	</style>

	<link rel="stylesheet" href="assets/bs2/css/bootstrap-combined.min.css">
	<link rel="stylesheet" href="assets/bs2/css/font-awesome.css">
	<link rel="stylesheet" href="assets/bs2/css/multiple-select.css" type="text/css" />
	<link rel="stylesheet" href="assets/bs2/css/datepicker.css" type="text/css" />
	<link rel="stylesheet" href="assets/bs2/css/bootstrap-editable.css" type="text/css" />
	<link rel="stylesheet" href="assets/bs2/css/custom.css">

	<script src="assets/bs2/js/jquery.js"></script>
	<script src="assets/bs2/js/jquery-ui.js"></script>
	<script src="assets/bs2/js/bootstrap.min.js"></script>
	<script src="assets/bs2/js/bootstrap-editable.min.js"></script>
	<script src="assets/bs2/js/jquery.maskedinput.js"></script>
	<script src="assets/bs2/js/jquery.multiple.select.js"></script>
	<script src="assets/bs2/js/jquery.ui.datepicker-ru.js"></script>
	<script src="assets/bs2/js/jquery.table.js"></script>
	
	<!-- Editor -->
	<script src="assets/bs2/js/epiceditor.min.js"></script>
</head>
<body>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a href="<?php if($_USER->is_authenticated()):?><?=!empty($CFG["URL"]["dashboard"]) ? $CFG["URL"]["dashboard"] : "index";?><?php else:?>index<?php endif;?><?=$CFG["URL"]["ext"];?>" class="brand"><?=$CFG["GENERAL"]["app_name"];?></a>
			
			%%topmenu%%
			
			%%login_logout_link%%
			
		</div>
		<div class="navbar-overlay"></div>
	</div>
</div>


<div class="container<?php if($page_fluid):?>-fluid<?php endif;?>">

	<?php if (!empty($_SESSION["msg"])):?>
		<?=get_content("msg");?>
	<?php endif;?>
	
	<?=get_content("content");?>
	   
</div>

<div style="height:100px">&nbsp;</div>

<div class="navbar navbar-fixed-bottom">
	<div class="navbar-inner">
		<div class="container footer-margin-top">
			
			<div class="muted text-muted">&copy; 2015<?php if(date("Y")>2015):?>&ndash;<?=date("Y");?><?php endif;?> &laquo;<a href="<?=$CFG["URL"]["base"];?>"><?=$CFG["GENERAL"]["app_name"];?></a>&raquo; &nbsp;&nbsp;&nbsp; <small class="muted">Версия: <?=$CFG["GENERAL"]["app_version"];?></small>
				
				<div class="pull-right optimit"><small>Поддержка &laquo;ОптимИТ&raquo;</small></div>
			</div>
			
		</div>
	</div>
</div> 



<script>
	$(function(){
		$(".loader").	hide();
		$(".displayOnload").removeClass("displayOnload");

		$(".phone").mask("(999)999-99-99");
		

	});
</script>

<?php if (userHasRight("manager")):?>
<script>
window.optimit = {app: {unsaved:false}};
$(function(){
	$(window).bind('beforeunload', function() {
		if(window.optimit.app.unsaved){
			return "Вы не сохранили изменения. Хотите покинуть страницу и поерять внесенные изменения?";
		}
	});

	// Monitor dynamic inputs
	$(document).on('change', ':input', function(){ //triggers change in all input fields including text type
		window.optimit.app.unsaved = true;
	});
	$('input[type=submit]').click(function() {
		window.optimit.app.unsaved = false;
	});
});
</script>
<?php endif;?>
<?php if ( ! DEV_MODE ) :?>
	<!-- Yandex.Metrika counter -->
	%%yandex.metrika.block%%
	<!-- /Yandex.Metrika counter -->
<?php endif;?>
</body>
</html>