
<?php if (!empty($pager)):?>
<div class="pagination  pagination-centered">
  <ul>
	<?php if($pager["current"]>1):?>
		<li><a href="<?=$pager["url"][$pager["current"]-1];?>">«</a></li>
	<?php else:?>
		<li class="disabled"><a href="#">«</a></li>
	<?php endif;?>
	<?php foreach($pager["pager"] as $v):?>
		<?php if (is_numeric($v)):?>
			<li <?php if($pager["current"]==$v):?>class="active"<?php endif;?>><a href="<?=$pager["url"][$v];?>"><?=$v;?></a></li>
		<?php else:?>
			<li class="disabled"><a href="#"><?=$v;?></a></li>
		<?php endif;?>
	<?php endforeach;?>
	<?php if($pager["current"]<$pager["count"]):?>
		<li><a href="<?=$pager["url"][$pager["current"]+1];?>">»</a></li>
	<?php else:?>
		<li class="disabled"><a href="#">»</a></li>
	<?php endif;?>
  </ul>
</div>
<?php endif;?>