<?php if ( ! empty($topmenu) ) :?>
	<ul class="nav">
		<?php foreach ($topmenu as $menuItem) :?>
			<?php if(!empty($menuItem["submenu"])):?>
				<li class="dropdown <?php if ($_PAGE["uri"] == $menuItem["href"]) :?>active<?php endif;?>">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<?=$menuItem["caption"];?>
						<b class="caret"></b>
						<ul class="dropdown-menu">
							<?php foreach($menuItem["submenu"] as $subMenuItem):?>
								<li>
									<a href="<?=$subMenuItem["href"] . $CFG["URL"]["ext"];?>" title="<?=$subMenuItem["caption"];?>">
										<?=$subMenuItem["caption"];?>
										<?php if (!empty($subMenuItem["badge"])):?>
											<span class="badge badge-<?=$subMenuItem["badge"]["class"];?>" title="<?=$subMenuItem["badge"]["title"];?>"><?=$subMenuItem["badge"]["value"];?></span>
										<?php endif;?>
									</a>
								</li>
							<?php endforeach;?>
						</ul>
					</a>
				</li>
			<?php else:?>
				<li <?php if ($_PAGE["uri"] == $menuItem["href"]) :?>class="active"<?php endif;?>>
					<a href="<?=$menuItem["href"].$CFG["URL"]["ext"];?>">
						<?=$menuItem["caption"];?>
						<?php if (!empty($menuItem["badge"])):?>
							<span class="badge badge-<?=$menuItem["badge"]["class"];?>" title="<?=$menuItem["badge"]["title"];?>"><?=$menuItem["badge"]["value"];?></span>
						<?php endif;?>
					</a>
				</li>
			<?php endif;?>
		<?php endforeach;?>
	</ul>
<?php endif;?>