<?php
foreach(@array(
	$CFG["URL"]["base"],
	$CFG["URL"]["ext"],
	$CFG["GENERAL"]["app_name"],
	$_USER,
) as $k=>$var) if ( ! isset($var)) die("Code: ".basename(__FILE__)."-init-".($k+1));
?>
<ul class="nav pull-right">
	<?if ( ($_USER["authenticated"]) ):?>
		<li>
			<a href="#"><?=EUsers::get_username_by_id($_USER["profile"]["id"]);?></a>
		</li>
		<li><a href="logout<?=$CFG["URL"]["ext"];?>">Выйти</a></li>
	<?else:?>
		<!--<li><a href="reg<?=$CFG["URL"]["ext"];?>">Регистрация</a></li>-->
		<li><a href="login<?=$CFG["URL"]["ext"];?>">Войти</a></li>
	<?endif;?>
</ul>