<article class="app_content">
	<div class="row">
		<div class="span12">
			<div class="alert alert-warning alert-block">
				
				<div class="alert-actions">
					<p>Для входа в систему нужно ввести правильный логин и пароль. 
						<a href="login<?=$CFG["URL"]["ext"];?>" class="btn btn-small">Попробовать снова</a>
						<!--<a class="btn btn-primary" href="reg.html">Регистрация</a>-->
					</p>
				</div>
				<div class="alert alert-info">Если вы уверены, что вводите правильный логин и пароль, возможно, оплаченный вами период истек.</div>
			</div>
		</div> 
	</div> <!-- /.row -->
</article> <!-- /.app_content -->


<?php
	unset($_SESSION["msg"]);
	unset($_SESSION["to"]);
?>