<?php $schema = !empty($field["form_schema"]) ? $field["form_schema"] : "key:Параметр;value:Значение";

  $schema = array_reduce(array_map("trim", explode(";", trim($schema))), function($schema, $rec){
    list($key, $caption) = array_map("trim", explode(":", trim($rec)));
    $schema[$key] = array("key"=>$key, "caption" => $caption);
    return $schema;
  }, array());
?>
<div class="<?=$field["name"];?>_container">
    <input type="hidden" name="<?=$field["name_to"];?>" id="<?=$field["name"];?>" value='<?=$field["value"];?>'>
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
              <?php foreach($schema as $key => $key_data):?>
                <th><?=$key_data["caption"];?></th>
              <?php endforeach;?>
                <td><a href="#" class="pull-right btn btn-small cmdAdd"><i class="icon icon-plus"></i></a></td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <?php if(!empty($field["hint"])):?>
        <span class="help-block"><?=$field["hint"];?></span>
    <?php endif;?>
</div>

<?php if (!empty($field["form_row_template"])):?>
    <?php include cfg_get_filename("templates", $field["form_row_template"]);?>
<?php else:?>
<script type="text/template" id="<?=$field["name"];?>_row_template">
    <tr>
        <?php foreach ($schema as $key => $key_data):?>
          <td><input class="<?=$key;?>" value="{<?=$key;?>}" style="width:100%"></td>
        <?php endforeach;?>
        <td><a href="#" class="cmdDel close">&times;</a></td>
    </tr>
</script>
<?php endif;?>
<script>
$(function(){
    var form_field_name = "<?=$field["name"];?>";
    var state = {};
    var $view = $(".<?=$field["name"];?>_container");

    init();

    function init(){
        var value_str = $("#<?=$field["name"];?>").val();
        var value;
        if (value_str){
            value = JSON.parse(value_str);
            setState("value",value);
        }else{
            addEmptyRow();
        };

        render();

        $view.find("table").on("change", ":input", inputChanged);
        $view.find(".table").on("click", ".cmdDel", delRow);
        $view.find(".cmdAdd").on("click", addEmptyRow);
    }

    function setState(key, value){
        if (!state[key] || (state["key"] != value)){
            state[key] = value;
        };

        // set value for form field
        $view.children("input[type=hidden]").val(JSON.stringify(state.value));
    }

    function render(){
        // clean up
        $view.find("table tbody").html("");

        // render state
        var html = "";
        var $tmpl = $("#<?=$field["name"];?>_row_template");
        var tmpl_func = function(row){
            var row_html = $tmpl.html();
            for(var key in row){
                row_html = row_html.replace("{" + key + "}", row[key]);
            };
            return row_html;
        };
        if ($tmpl.attr("onrender") && $tmpl.attr("onrender") in window){
            tmpl_func = window[$tmpl.attr("onrender")];
        };

        if (tmpl_func){
            for (var i = 0; i < state.value.length; i++){
                var row = state.value[i];
                var row_html = tmpl_func(row);
                html += row_html;
            };
        }else if ("console" in window){
            console.error("Empty template for form field '" + form_field_name + "'.");
        }

        $view.find("table tbody").html(html);
    }

    function inputChanged(){
        var state_value = [];
        $view.find("tbody tr").each(function(k,tr){
            state_value[k] = {};
            $(tr).find(":input").each(function(i,input){
                state_value[k][input.className] = input.value;
            });
        });


        setState("value", state_value);
    }

    function addEmptyRow(e){
        if (e) e.preventDefault();

        var state_value = state.value || [];
        state_value.push(<?= json_encode(array_combine(array_keys($schema), array_fill(0,count($schema),"")));?>); <?php // empty row: each key with "" value, eg key1: "", key2: "" ?>
        setState("value", state_value);
        render();
    }

    function delRow(e){
        e.preventDefault();

        if (confirm("Удалить строку?")){
          $(e.target).parents("tr").remove();
          inputChanged();
          render();
        };
    }

    window.optimit.app["attributes_table.form"] = {api: {addEmptyRow: addEmptyRow, inputChanged: inputChanged}}; // TODO добавить поддержку нескольких виджетов на странице

})
</script>
