<?php

?>
<div class="<?=$field["name"];?>_container">
	<input type="hidden" name="<?=$field["name_to"];?>" class="input" value="null">

	<table class="table table-bordered table-condensed">
		<tbody>
			<p class="alert">Пусто</p>
		</tbody>
		<tfoot>
			<tr>
				<td>
					<input class="attr_key" type="text" placeholder="Параметр">
				</td>
				<td>
					<input class="attr_value" type="text" placeholder="значение">
				</td>
				<td><button class="btn btn-small cmdAdd"><i class="icon icon-plus"></i></button></td>
			</tr>
		</tfoot>
	</table>

	<script>

		var field_value = <?=(!empty($field["value"]) ? html_entity_decode($field["value"]) : "[]");?>;
		var tr = function(key, value){
			return '<tr><td>'+key+'</td><td><input type="text" value="'+value+'"></td><td><a class="close cmdDel">&times;</a></td></tr>';
		};
		var render = function(){
			var tbody_html = "";
			for (var key in field_value){
				tbody_html += tr(key, field_value[key]);
			};

			$cnt.find("table tbody").html(tbody_html);
			$input.val(JSON.stringify(field_value));
			
		};
		
		var $cnt = $("div.<?=$field["name"];?>_container"),
			$input = $cnt.find("input.input"),
			$attr_key = $cnt.find("input.attr_key"),
			$attr_value = $cnt.find("input.attr_value"),
			$cmdAdd = $cnt.find(".btn.cmdAdd");
		
		// Add
		$cmdAdd.on("click", function(e){
			e.preventDefault();
			var attr = {};
			var key = $attr_key.val();
			if (key){
				field_value[key] = $attr_value.val();
				render();
				$attr_key.val("");
				$attr_value.val("");
			};
			return false;
		});
		
		// Edit
		$cnt.on("change", "tbody input", function(e){
			e.preventDefault();
			var key = $(this).parents("tr").find("td").first().text();
			field_value[key] = $(this).val();
			render();
			return false;
		});
		
		// Delete
		$cnt.on("click", ".cmdDel", function(e){
			e.preventDefault();
			var key = $(this).parents("tr").find("td").first().text();
			delete field_value[key]
			render();
			return false;
		});
		
		render();
	</script>

</div>