<label class="checkbox-inline" style="height:22px">
	<?php if (isset($field["name"])):?>
		<input type="hidden" name="<?=$field["name_to"];?>" value="">
	<?php endif;?>
	<input
		type="checkbox"
		<?php if (isset($field["name"])):?>name="<?=$field["name_to"];?>"<?php endif;?>
		<?php if (isset($field["id"])):?>id="<?=$field["id"];?>"<?php endif;?> 
		class="<?php if (isset($field["class"])):?><?=$field["class"];?><?php endif;?> <?php if($field["required"]):?>validate-field required<?php endif;?>"
		<?php if ($field["required"]):?>required<?php endif;?>
		<?php if (isset($field["values"]) && isset($field["values"][0])):?>
			value="<?=$field["values"][0];?>"
		<?php else:?>
			<?php if (!empty($field["value"])):?>
				<?php $field["values"][0] = $field["value"];?>
				value="<?=$field["value"];?>"
			<?php else:?>
				<?php $field["values"][0] = 1;?>
				value="1"
			<?php endif;?>
		<?php endif;?>
		<?php if ($field["value"] == $field["values"][0]):?> checked<?php endif;?>
	>
</label>
<?php if(DEV_MODE && empty($field["values"][0]) && ($field["type"]!=="timestamp")):?>
	<div class="alert alert-danger"><b>DEV_MODE</b>: Field value is not set. Check DB config.</div>
<?php endif;?>
