<div style="border:1px solid #369" class="epiceditor"></div>

<textarea name="<?=$field["name_to"];?>" id="<?=$field["name"];?>"
	<?if ($field["required"]):?>required<?endif;?>
><?if (isset($field["value"])):?><?=$field["value"];?><?endif;?></textarea> <?if ( ! $field["label"] && $field["required"]):?><span class="help-inline">(обязательно)</span><?endif;?>

<?if(!empty($field["hint"])):?>
	<span class="help-block"><?=$field["hint"];?></span>
<?endif;?>

<script>
$(function(){
	var $ta = $("#<?=$field["name"];?>");
	$ta.hide();
	var editor = new EpicEditor({
		container: $ta.prev()[0],
		textarea: $ta[0],
		basePath: $("base").attr("href") +  "assets/bs2/css/epiceditor",
		clientSideStorage: false
	}).load();
})
</script>
