<?php
$id = "il".uniqid();
?>
<div class="image-list" id="<?=$id;?>">
	<input type="hidden" name="to[<?=$field["name"];?>]" value="null"  class="image-list-input">
	<?php if (!empty($field["value"])):?>
		<h6>Загруженные картинки</h6>
		<div class="image-line">
			<?php if(!empty($field["value"])):?>
				<?php foreach($field["value"] as $k=>$image):?>
					<div class="image">
						<input type="hidden" name="to[<?=$field["name"];?>][<?=$k;?>]" value="<?=$image;?>" class="image-list-input">
						<img src="<?=$image;?>">
						<br><a href="#" class="btn-del">&times; Удалить</a>
					</div>
				<?php endforeach;?>
			<?php endif;?>
		</div>
		<div class="alert"></div>
	<?php endif;?>
	<h6>Загрузить новые картинки</h6>
	<ol class="file-inputs">
		<li><input type="file" name="to[<?=$field["name"];?>][<?=++$k;?>]" class="image-list-input"></li>
	</ol>
	<a href="#" class="btn btn-default btn-add"><i class="glyphicon glyphicon-plus"></i> Еще один файл</a>
	<?php if (!empty($field["hint"])):?>
		<span class="help-block"><?=$field["hint"];?></span>
	<?php endif;?>
</div>

<script>
$(function(){
    var k = <?=$k+1;?>;
	$("#<?=$id;?> .btn-add").on("click", function(e){
		e.preventDefault();
		$ol = $("#<?=$id;?> .file-inputs");
		$li = $('<li><input type="file" name="to[<?=$field["name"];?>]['+k+']"></li>');
		$ol.append($li);
        k++;
		return false;
	});
	$("#<?=$id;?> .btn-del").on("click", function(e){
		e.preventDefault();
		$(this).parent().remove();
		$("#<?=$id;?> .alert").addClass("alert-warning").html("Сохраните изменения.");
		return false;
	});
});
</script>

<style>
.image-list {
	padding: 5px;
	border: 1px dotted black;
}
.image-line {
	position: relative;
	overflow: hidden;
	margin: 1em 0;
}
.image-line .image {
	float: left;
	margin-right: 10px;
}
.image-line .image img {
	height: 100px;
}

.image-line .image {
	text-align: center;
}
.image-line .image a.btn-del {
	text-decoration: none;
	border-bottom: 1px dashed red;
	color: red;
}
</style>
