<input
	<?php if (isset($field["name"]) && ($field["name"] == "email") ):?>
		type="email"
	<?php else:?>
		type="text"
	<?php endif;?>
	<?php if (isset($field["name"])):?>name="<?=$field["name_to"];?>"<?php endif;?>
	<?php if (isset($field["id"])):?>id="<?=$field["id"];?>"<?php endif;?> 
	class="form-control <?php if (isset($field["class"])):?><?=$field["class"];?><?php endif;?>" 
	<?php if (isset($field["value"])):?>value="<?=$field["value"];?>"<?php endif;?> 
	<?php if (isset($field["placeholder"])):?>placeholder="<?=$field["placeholder"];?>"<?php endif;?> 
	<?php if ($field["required"]):?>required<?php endif;?>
	<?php if (!empty($field["readonly"])):?>readonly<?php endif;?>
><?php if ( ! $field["label"] && $field["required"]):?><span class="help-inline">(обязательно)</span><?php endif;?>
<button class="btn cmdCreateSlug">Сгенерировать</button>

<?php if(!empty($field["hint"])):?>
	<span class="help-block"><?=$field["hint"];?></span>
<?php endif;?>

<script>
$(function(){
	$(".cmdCreateSlug").on("click", function(e){
		e.preventDefault;
		
		var str = $("#name").val() || $("#title").val();
		if (str){
			$.get("engine_api/create_slug.html", {str:str}, function(data){
				$("#<?=$field["id"];?>").val(data);
			});
		};
		return false;
	});
});
</script>