<input
	<?php if (isset($field["name"]) && ($field["name"] == "email") ):?>
		type="email"
	<?php else:?>
		type="text"
	<?php endif;?>
	<?php if (isset($field["name"])):?>name="<?=$field["name_to"];?>"<?php endif;?>
	<?php if (isset($field["id"])):?>id="<?=$field["id"];?>"<?php endif;?> 
	class="form-control <?php if (isset($field["class"])):?><?=$field["class"];?><?php endif;?>" 
	<?php if (isset($field["value"])):?>value="<?=$field["value"];?>"<?php endif;?> 
	<?php if (isset($field["placeholder"])):?>placeholder="<?=$field["placeholder"];?>"<?php endif;?> 
	<?php if ($field["required"]):?>required<?php endif;?>
	<?php if (!empty($field["readonly"])):?>readonly<?php endif;?>
><?php if ( ! $field["label"] && $field["required"]):?><span class="help-inline">(обязательно)</span><?php endif;?>
<?php if(!empty($field["hint"])):?>
	<span class="help-block"><?=$field["hint"];?></span>
<?php endif;?>
<?php if($field["validate"] == "phone"):?>
	<div class="help-block">
		
		<label class="checkbox">
			<input type="checkbox" id="<?=$field["id"];?>_phone_mask" checked>
			<label id="<?=$field["id"];?>_descr"> Маска ввода</label>
		</label>
			
	</div>
<?php endif;?>
<?php if($field["type"] == "date"):?>
	<script>
		$(function(){
			$("#<?=$field["id"];?>").
				attr("value", $("#<?=$field["id"];?>").val().split("-").reverse().join(".") )
				.mask("99.99.9999")
				.datepicker({
					changeMonth: true,
					changeYear: true,
					dateFormat: "dd.mm.yy" 
				});
			$($("#<?=$field["id"];?>")[0].form).on("submit", function(){
				$("#<?=$field["id"];?>").
					val( $("#<?=$field["id"];?>").val().split(".").reverse().join("-") );
				return true;
			});
		});
	</script>
<?php endif;?>
<?php if($field["type"] == "time"):?>
	<script>
		$(function(){
			$("#<?=$field["id"];?>").mask("99:99");
		});
	</script>
<?php endif;?>
<?php if($field["validate"] == "phone"):?>
	<script>
		$(function(){
			var maskList = $.masksSort($.masksLoad("assets/bs2/data/phone-codes.json"), ['#'], /[0-9]|#/, "mask");
			var maskOpts = {
				inputmask: {
					definitions: {
						'#': {
							validator: "[0-9]",
							cardinality: 1
						}
					},
					//clearIncomplete: true,
					showMaskOnHover: false,
					autoUnmask: true
				},
				match: /[0-9]/,
				replace: '#',
				list: maskList,
				listKey: "mask",
				onMaskChange: function(maskObj, completed) {
					if (completed) {
						var hint = maskObj.name_ru;
						if (maskObj.desc_ru && maskObj.desc_ru != "") {
							hint += " (" + maskObj.desc_ru + ")";
						}
						$("#<?=$field["id"];?>_descr").html(hint);
					} else {
						$("#<?=$field["id"];?>_descr").html("Маска ввода");
					}
					//$(this).attr("placeholder", $(this).inputmask("getemptymask"));
				}
			};

			$('#<?=$field["id"];?>_phone_mask').change(function() {
				if ($('#<?=$field["id"];?>_phone_mask').is(':checked')) {
					$('#<?=$field["id"];?>').inputmasks(maskOpts);
				} else {
					$('#<?=$field["id"];?>').inputmask("+[####################]", maskOpts.inputmask)
					/*.attr("placeholder", $('#<?=$field["id"];?>').inputmask("getemptymask"))*/;
					$("#<?=$field["id"];?>_descr").html("Маска ввода");
				}
			});

			$('#<?=$field["id"];?>_phone_mask').change();

		});
	</script>
<?php endif;?>

