<input
	<?if (isset($field["name"]) && ($field["name"] == "email") ):?>
		type="email"
	<?else:?>
		type="text"
	<?endif;?>
	<?if (isset($field["name"])):?>name="<?=$field["name_to"];?>"<?endif;?>
	<?if (isset($field["id"])):?>id="<?=$field["id"];?>"<?endif;?> 
	class="form-control <?if (isset($field["class"])):?><?=$field["class"];?><?endif;?>" 
	<?if (isset($field["value"])):?>value="<?=$field["value"];?>"<?endif;?> 
	<?if (isset($field["placeholder"])):?>placeholder="<?=$field["placeholder"];?>"<?endif;?> 
	<?if ($field["required"]):?>required<?endif;?>
	<?if (!empty($field["readonly"])):?>readonly<?endif;?>
><?if ( ! $field["label"] && $field["required"]):?><span class="help-inline">(обязательно)</span><?endif;?>
<?if(!empty($field["hint"])):?>
	<span class="help-block"><?=$field["hint"];?></span>
<?endif;?>

<?if($field["type"] == "date"):?>
	<script>
		$(function(){
			$("#<?=$field["id"];?>").
				attr("value", $("#<?=$field["id"];?>").val().split("-").reverse().join(".") )
				.mask("99.99.9999")
				.datepicker({
					changeMonth: true,
					changeYear: true,
					dateFormat: "dd.mm.yy" 
				});
			$($("#<?=$field["id"];?>")[0].form).on("submit", function(){
				$("#<?=$field["id"];?>").
					val( $("#<?=$field["id"];?>").val().split(".").reverse().join("-") );
				return true;
			});
		});
	</script>


<?endif;?>
<?if($field["type"] == "time"):?>
	<script>
		$(function(){
			$("#<?=$field["id"];?>").mask("99:99");
		});
	</script>
<?endif;?>
