<link rel="stylesheet" href="assets/bs2/css/multiple-select.css">
<script src="assets/bs2/js/jquery.multiple.select.js"></script>

<input type="hidden" name="to[<?=$field["name"];?>]" value="null">
<select <?php if($field["type"] == "list"):?> multiple<?php endif;?> size="1" data-placeholder="-"
	<?php if (isset($field["name"])):?>name="<?=$field["name_to"];?>"<?php endif;?>
	id="<?=$field["name"];?>"
	class="form-control input-xxlarge <?php if (isset($field["class"])):?><?=$field["class"];?><?php endif;?>"
>
	
	<?php if (empty($field["value"]) && !empty($field["form_value_default"])):?>
		<?php $field["value"] = db_parse_value($field["form_value_default"], "list");?>
	<?php endif;?>

	<?php $in_group = false;?>
	<?php foreach($field["values"] as $v):?>
		<?php $value = $v["value"]; $caption = $v["caption"];?>
		<?php
			 $selected = false;
			 if (!empty($field["value"])){
				 if (is_scalar($field["value"]) && ($field["values"] == $value) ){
					 $selected = true;
				 }elseif(in_array($value, array_map(function($f){return $f["value"];}, $field["values"]))){
					$selected = true;
				 }
			 };
		?>

		<?php if (substr($value, 0, 9) == "optgroup:"):?>
			<?php if ($in_group):?>
				</optgroup>
			<?php endif;?>
			<optgroup label="<?=$caption;?>">
			<?php $in_group = true;?>
		<?php else:?>
				
			<?php if ( ! is_int($caption) ):?>
				<option value="<?=$value;?>" <?php if ( $selected ):?> selected<?php endif;?> id="<?=$field["name"]."_".glog_codify($value);?>"><?=$caption;?></option>
			<?php else:?>
				<option <?php if ( $selected ):?> selected<?php endif;?> id="<?=$field["name"]."_".glog_codify($value);?>"><?=$value;?></option>
			<?php endif;?>
			
		<?php endif;?>
	<?php endforeach;?>

</select><?php if ( ! $field["label"] && $field["required"]):?><span class="help-inline">(обязательно)</span><?php endif;?>
<?php if(!empty($field["hint"])):?>
	<span class="help-block"><?=unescape_template_data($field["hint"]);?></span>
<?php endif;?>
<script>
$(function(){
	$("#<?=$field["name"];?>").multipleSelect(
		{
		filter:true,
		<?php if($field["type"] != "list"):?>single: true,<?php endif;?>
		selectAllText: "Выбрать все",
		allSelected: "Выбраны все",
		countSelected: "Выбрано # из %",
		noMatchesFound: "Не найдено"
		});
})
</script>