<input type="hidden" name="to[<?=$field["name"];?>]" value="null">
<select multiple data-placeholder="-"
	<?php if (isset($field["name"])):?>name="<?=$field["name_to"];?>"<?php endif;?>
	id="<?=$field["name"];?>"
	class="form-control input-xxlarge <?php if (isset($field["class"])):?><?=$field["class"];?><?php endif;?>"
>
	
	<?php if (empty($field["value"]) && !empty($field["form_value_default"])):?>
		<?php $field["value"] = db_parse_value($field["form_value_default"], "list");?>
	<?php endif;?>

	<?php $in_group = false;?>
	<?php foreach($field["values"] as $caption=>$value):?>
		<?php if ($value == "optgroup"):?>
			<?php if ($in_group):?>
				</optgroup>
			<?php endif;?>
			<optgroup label="<?=$caption;?>">
			<?php $in_group = true;?>
		<?php else:?>
				
			<?php if ( ! is_int($caption) ):?>
				<option value="<?=$value;?>" <?php if ( ! empty($field["value"]) && ( in_array($value, $field["value"]) ) ):?> selected<?php endif;?> id="<?=$field["name"]."_".glog_codify($value);?>"><?=$caption;?></option>
			<?php else:?>
				<option <?php if ( ! empty($field["value"]) && ( in_array($value, $field["value"]) ) ):?> selected<?php endif;?> id="<?=$field["name"]."_".glog_codify($value);?>"><?=$value;?></option>
			<?php endif;?>
			
		<?php endif;?>
	<?php endforeach;?>

</select><?php if ( ! $field["label"] && $field["required"]):?><span class="help-inline">(обязательно)</span><?php endif;?>
<?php if(!empty($field["hint"])):?>
	<span class="help-block"><?=unescape_template_data($field["hint"]);?></span>
<?php endif;?>
<script>
$(function(){
	$("#<?=$field["name"];?>").multipleSelect(
		{
		filter:true,
		selectAllText: "Выбрать все",
		allSelected: "Выбраны все",
		countSelected: "Выбрано # из %",
		});
})
</script>