<?php foreach($field["values"] as $fv):?>
	<?php $caption= $fv["caption"]; $value = $fv["value"];?>
	<label class="radio">
		<input
			type="radio"
			<?php if (isset($field["name"])):?>name="<?=$field["name_to"];?>"<?php endif;?>
			<?php if (! empty($value)):?>id="<?=$field["name"]."_".glog_codify($value);?>"<?php endif;?> 
			<?php if (isset($field["class"])):?>class="<?=$field["class"];?>"<?php endif;?> 
			value="<?=$value;?>"
			<?php if ( ! empty($field["value"]) && ($field["value"] == $value) ):?> checked<?php endif;?>
		> 
		<?=is_int($caption) ? $value : $caption;?>
	</label>
<?php endforeach;?>
<?php if(!empty($field["hint"])):?>
	<span class="help-block"><?=$field["hint"];?></span>
<?php endif;?>
<?php if ( ! $field["label"] && $field["required"]):?><span class="help-inline">Поле обязательно.</span><?php endif;?>
