<?php if (is_array($field["value"])):?>
	<?=$field["value"] = $field["value"][0];?>
<?php endif;?>
<input type="hidden" name="<?=$field["name_to"];?>" value="null">
<select 
	<?php if (isset($field["name"])):?>name="<?=$field["name_to"];?>"<?php endif;?>
	<?php if (isset($field["id"])):?>id="<?=$field["id"];?>"
	<?php elseif (isset($field["name"])):?>id="<?=$field["name"];?>"
	<?php endif;?> 
	class="form-control <?php if (isset($field["class"])):?><?=$field["class"];?><?php endif;?>"
>
	<?php if ( empty($field["readonly"])):?>
		<option></option>
		<?php $in_optgroup = false;?>
		<?php foreach($field["values"] as $value=>$caption):?>
			<?php if ($value == "optgroup"):?>
				<?php if ($in_optgroup):?>
					</optgroup>
				<?php endif;?>
				<optgroup label="<?=$caption;?>">
				<?php $in_optgroup = true;?>
				<?php continue;?>
			<?php endif;?>
			
			
			<?php if ( ! is_int($caption) ):?>
				<option value="<?=$value;?>" <?php if ( ! empty($field["value"]) && ($field["value"] == $value) ):?> selected<?php endif;?> id="<?=$field["name"]."_".glog_codify($value);?>"><?=$caption;?></option>
			<?php else:?>
				<option <?php if ( ! empty($field["value"]) && ($field["value"] == $value) ):?> selected<?php endif;?> id="<?=$field["name"]."_".glog_codify($value);?>"><?=$value;?></option>
			<?php endif;?>
		<?php endforeach;?>
		<?php if ($in_optgroup):?>
			</optgroup>
		<?php endif;?>
	<?php else:?>
		<?php if (!empty($field["value"])):?>
			<?php if (is_array($field["value"])):?>
				<option value="<?=current($field["value"]);?>"><?=key($field["value"]);?></option>
			<?php else:?>
				<option><?=$field["value"];?></option>
			<?php endif;?>
		<?php else:?>
			<option></option>
		<?php endif;?>
	<?php endif;?>
</select><?php if ( ! $field["label"] && $field["required"]):?><span class="help-inline">(обязательно)</span><?php endif;?>
<?php if(!empty($field["hint"])):?>
	<span class="help-block"><?=unescape_template_data($field["hint"]);?></span>
<?php endif;?>
