<?php
foreach(@array(
	$CFG["URL"]["ext"],
	$CFG["GENERAL"]["app_name"],
	$CFG["GENERAL"]["app_version"],
	$_PAGE["title"],
) as $k=>$var) if ( ! isset($var)) die("Code: ".basename(__FILE__)."-init-".($k+1));

?>
<style>
	#login-form{
		margin-top: 2em;
		margin-bottom: 5em;
	}
	#UserEmail, #loginButton {
		margin-bottom: 1.5em;
	}
	article {
		margin-bottom: 10em;
	}
</style>
<article class="app_content">
	<div class="row">
		<div class="span6 offset3">
			<div class="page-header text-center">
				<?=$CFG["GENERAL"]["app_name"];?>
			</div>
			
			<div class="row">
				<div id="login-form" class="span2 offset2">
					<form  method="get" action="<?=$CFG["URL"]["base"];?>login<?=$CFG["URL"]["ext"];?>">
						<input name="login" type="text" required class="input span2" value="" id="UserEmail" placeholder="Логин"/>
						<input name="pass" type="password" required class="input span2" value="" id="pass" placeholder="Пароль"/>
						<input type="submit" class="btn btn-primary btn-large btn-block" id="loginButton" value="Войти" />
						<a href="form/add/application<?=$CFG["URL"]["ext"];?>" class="btn btn-block">Регистрация</a>
					</form>
				</div>
			</div>
			<div class="row">
				<p class="text-center">
					Возникли вопросы?<br>
					<a href="mailto:info@optimit.ru">Обратитесь в службу поддержки</a>
				</p>
			</div>
		</div> 
	</div> <!-- /.row -->
</article> <!-- /.app_content -->
<script>
	<? // http://www.peej.co.uk/articles/rich-user-experience.html ?>
	function getHTTPObject() { 
		if (typeof XMLHttpRequest != 'undefined') {
			return new XMLHttpRequest();
		} try {
			return new ActiveXObject("Msxml2.XMLHTTP");
		} catch (e) {
			try {
				return new ActiveXObject("Microsoft.XMLHTTP");
			} catch (e) {}
		}
		return false;
	}
	
	<? // http://www.peej.co.uk/articles/http-auth-with-html-forms.html ?>
	function login() {         
		var http = getHTTPObject();
		var username = document.getElementById("UserEmail").value;
		var pass = document.getElementById("pass").value;
		debugger;
		http.open("get", this.action, false, username, pass);
		http.send("");
		if (http.status == 200) {
			document.location = this.action;
		} else {
			alert("Неверный логин или пароль.");
		}
		return false;
	}
	$(function(){
		$("#login-form form").submit(login);
	})
	
</script>	
<?php
	unset($_SESSION["msg"]);
	unset($_SESSION["to"]);
?>